<% title "Editing Ingredient" %>
  <div class="row">
    <div class="span12 columns">
      <div class="page-header">
        <h1>Editing ingredient</h1>
      </div>
    </div><!-- span  -->
  </div> <!-- row -->

<%= render 'form' %>

<%= link_to 'Show', @ingredient %> |
<%= link_to 'Back', ingredients_path %>
