<% title "Welcome to daily#intake !" %>

  <div class="row">
    <div class="span12 columns">
      <div class="page-header">
        <h1>Welcome to daily#intake</h1>
      </div>
      <div class="well">
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        </div>
      </div><!-- well  -->
    </div><!-- span  -->
  </div> <!-- row -->

  <div class="row">
    <div class="span12 columns">
      <div class="alert-message block-message info">
        <p class="center"><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not a huge priority just yet.</p>
        <p>
        	<br />
        </p>
        <div class="alert-actions center">
          <%= link_to "Singup now!", signup_url, :class => "btn large primary" %> 
          <%= link_to "Open a session", login_url, :class => "btn large" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 columns">
        <div class="item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
    </div><!-- span  -->
  </div> <!-- row -->

  <div class="row">
    <div class="span4 columns justify">
      <h3>What's daily#intake?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div><!-- span  -->

    <div class="span4 columns justify">
      <h3>Take a tour!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <blockquote>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </blockquote>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div><!-- span  -->

    <div class="span4 columns justify">
      <h3>Contact us</h3>
      <dl>
      <dt>
        Lorem ipsum dolor sit amet,
      </dt>
        <dd>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </dd>
      <dt>
        Ut enim ad minim veniam, 
      </dt>
      <dd>
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </dd>
        <dd>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
        <dd>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
      </dl>
    </div><!-- span  -->
  </div> <!-- row -->

